<%= simple_form_for(@employee) do |f| %>
	<fieldset>

  		<% if session[:employee_person_id].nil? %>
			<%= f.association :person, collection: Person.all, label_method: :name, value_method: :id, :label => 'Persona' %>
		<% else %>
			<%= f.association :person, collection: Person.all, label_method: :name, value_method: :id, :label => 'Persona', :selected => session[:employee_person_id] %>
		<% end %>

  		<%= f.input :role, :label => 'Rol' %>
  		<%= f.input :salary, :label => 'Salario por clase' %>

		<div class="control-group">
			<div class="controls">
				<%= f.button :submit %>
			</div>
		</div>
	</fieldset>
<% end %>