<p>
  <b>Nombre:</b>
  <%= @employee.person.name %>
</p>
 
<p>
  <b>Rol:</b>
  <%= @employee.role %>
</p>

<% if check_admin %>
  <p>
    <b>Salario:</b>
    <%= @employee.salary %>
  </p>
<% end %>
 
 
<%= link_to 'Editar', edit_employee_path(@employee) %>

<% if check_admin %>
	| <%= link_to 'Empleados', employees_path %>
<% end %>