<%= simple_form_for(@user) do |f| %>
	<fieldset>

		<%= f.input :username, :label => 'Usuario' %>
		<%= f.label :password, 'Password' %>
  		<%= f.password_field :password %>
  		<%= f.label :password_confirmation, 'Confirmar Password' %>
  		<%= f.password_field :password_confirmation %>
  		<%= f.association :person, collection: Person.withoutUser, label_method: :name, value_method: :id, :label => 'Persona' %>

		<div class="control-group">
			<div class="controls">
				<%= f.button :submit %>
			</div>
		</div>
	</fieldset>
<% end %>