<script>
  $(document).ready(function() {
    $('#students_select').change(function() {
      $.ajax({
        url: "/charges_by_student",
        data: {
          student_id : $('#students_select').val()
        },
        dataType: "script"
      });
    });
  });
</script>

<%= simple_form_for(@payment) do |f| %>
	<fieldset>

		<%= label_tag "tag1000", "Alumno:" %>
		<%= collection_select(nil, :student_id,  Student.all, :id, :name, {:prompt   => "Seleccione un alumno"}, {:id => 'students_select'}) %>
		<br />

		<%= label_tag "tag1100", "Cargo:" %>
		<%= collection_select(nil, :charge_id, @charges, :id, :name, {:id => 'charges_select'}) %>

		<%= label_tag "tag1", "Fecha de Pago:" %>
		<%= text_field nil, nil, {:class => 'date_picker', :id => "payment_dateof", :name => 'payment[dateof]', :required => 'required'} %>

		<%= f.input :amount, :label => 'Cantidad:' %>

		<%= f.input :ptype, 
			:collection => [['Cheque', 'Cheque'], ['Efectivo', 'Efectivo'], ['Tarjeta', 'Tarjeta']], 
			:as => :radio_buttons,
			:label => 'Tipo:',
			:item_wrapper_class => 'inline' %>
		<br />

		<%= f.input :comment, :label => 'Comentarios:' %>

		<div class="control-group">
			<div class="controls">
				<%= f.button :submit %>
			</div>
		</div>
	</fieldset>
<% end %>