<p>
  <b>Alumno:</b>
  <%= @payment.student.name %>
</p>

<p>
  <b>Cargo:</b>
  <% if @payment.charge.nil? %>
    <td>NA</td>
  <% else %>
    <td><%= @payment.charge.name %></td>
  <% end %>
</p>

<p>
  <b>Fecha de Pago:</b>
  <%= @payment.dateof %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @payment.amount %>
</p>

<p>
  <b>Tipo:</b>
  <%= @payment.ptype %>
</p>

<p>
  <b>Comentarios:</b>
  <%= @payment.comment %>
</p>
 
 
<%= link_to 'Editar', edit_payment_path(@payment) %>

<% if check_admin %>
	| <%= link_to 'Pagos', payments_path %>
<% end %>