<h1>Gastos</h1>
 
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Fecha</th>
      <th>Cantidad</th>
      <th>Tipo</th>
      <th>Empleado</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
 
  <tbody>
  <% @expenses.each do |expense| %>
    <tr>
      <td><%= expense.description %></td>
      <td><%= expense.dateof %></td>
      <td><%= expense.amount %></td>
      <td><%= expense.etype %></td>
      <td><%= expense.employee.to_s %></td>
      <td><%= link_to 'Mostrar', expense %></td>
      <td><%= link_to 'Editar', edit_expense_path(expense) %></td>
      <td><%= link_to 'Borrar', expense, :confirm => '¿Está seguro que quiere borrar este gasto?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
 
<br />
 
<%= link_to 'Nuevo gasto', new_expense_path %>