<h1>Historial de pago de <%= @student.name %></h1>

<table class="table table-bordered table-hover">
	<tr class="info">
		<td>Cargo</td>
		<td>Fecha de Pago</td>
		<td>Cantidad</td>
		<td>Tipo</td>
		<td>Comentarios</td>
	</tr>
	<% for pay in @student.payments.sort { |x, y| x.dateof <=> y.dateof } %>
		<tr>
			<td><%= pay.charge.name %></td>
			<td><%= pay.dateof %></td>
			<td><%= pay.amount %></td>
			<td><%= pay.ptype %></td>
			<td><%= pay.comment %></td>
		</tr>
	<% end %>
</table>