<%= simple_form_for(@charge) do |f| %>
	<fieldset>

  		<%= f.input :name, :label => 'Descripción' %>

  		<%= label_tag "tag1", "Fecha Límite:" %>
		<%= text_field nil, nil, {:class => 'date_picker', :id => "charge_datedue", :name => 'charge[datedue]', :required => 'required'} %>

  		<%= f.input :amount, :label => 'Cantidad' %>

  		<%= f.input :ctype, 
			:collection => [['Inscripcion', 'Inscripcion'], ['Colegiatura', 'Colegiatura'], ['Exposicion', 'Exposicion'], ['Material', 'Material']],
			:as => :radio,
			:label => 'Tipo',
			:item_wrapper_class => 'inline'%>

		<%= label_tag "tag2", "Cargo para grupos:" %>
		<%= select_tag 'group_ids[]', options_for_select(Group.all.collect{ |g| [g.name, g.id] }), :multiple => true %>

		<div class="control-group">
			<div class="controls">
				<%= f.button :submit %>
			</div>
		</div>
	</fieldset>
<% end %>