<% if protect_against_forgery? %>
<script type='text/javascript'>
  //<![CDATA[
  window._auth_token_name = "#{request_forgery_protection_token}";
  window._auth_token = "#{form_authenticity_token}";
//]]>
</script>
<% end %>

<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			
			<%= link_to("<i class='icon-home icon-white'></i>".html_safe, root_path, {:class => "brand"}) %>
			

			<% if session[:user_id].nil? %>

				<%= form_tag({:controller=>"sessions", :action => 'login'}, {:class => "navbar-form pull-right"}) do %>
				<%= text_field_tag(:gusername, nil, {:placeholder => 'Usuario', :class => 'span2'})%>
				<%= password_field_tag(:gpassword, nil, {:placeholder => 'Contraseña', :class => 'span2'})%>
				<%= submit_tag("Sign In", :class => "btn") %>


			<% end %>
			<% else %>
			<!-- If logged in: -->




			<div class="btn-group" style="display:inline-block;">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					Admin
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><%= link_to "Usuarios", :controller => "users", :action => "index" %></li>
					<li><%= link_to "Empleados", :controller => "employees", :action => "index" %></li>
					<li><%= link_to "Ciclos", :controller => "schoolyears", :action => "index" %></li>
				</ul>
			</div>

			<div class="btn-group" style="display:inline-block;">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					Grupos
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><%= link_to "Grupos", :controller => "groups", :action => "index" %></li>
					<li><%= link_to "Nuevo Grupo", :controller => "groups", :action => "new" %></li>
				</ul>
			</div>

			<div class="btn-group" style="display:inline-block;">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					Alumnos
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><%= link_to "Alumnos", :controller => "students", :action => "index" %></li>
					<li><%= link_to "Nuevo Alumno", :controller => "addresses", :action => "regnew" %></li>
					<li><%= link_to "Lista de Obras", :controller => "works", :action => "index" %></li>
					<li><%= link_to "Bajas", :controller => "discharges", :action => "index" %></li>
				</ul>
			</div>

			<div class="btn-group" style="display:inline-block;">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					Clases
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><%= link_to "Clases", :controller => "classis", :action => "index" %></li>
					<li><%= link_to "Tomar lista", :controller => "classis", :action => "select" %></li>
				</ul>
			</div>

			<div class="btn-group" style="display:inline-block;">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					Cuentas
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li class="dropdown-submenu">
						<a tabindex="-1" href="#">Cargos</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Cargos", :controller => "charges", :action => "index" %></li>
							<li><%= link_to "Nuevo Cargo", :controller => "charges", :action => "newgroups" %></li>
						</ul>
					</li>
					<li class="dropdown-submenu">
						<a tabindex="-1" href="#">Gastos</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Gastos", :controller => "expenses", :action => "index" %></li>
							<li><%= link_to "Nuevo Gasto", :controller => "expenses", :action => "new" %></li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="btn-group" style="display:inline-block;">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					Pagos
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><%= link_to "Pagos", :controller => "payments", :action => "index" %></li>
					<li><%= link_to "Nuevo Pago", :controller => "payments", :action => "new" %></li>
				</ul>
			</div>




			<ul class="nav pull-right">
				<!-- Log out -->
				<%= link_to("Log out", {:controller => :sessions, :action => :logout}, {:class => "btn btn-danger", :style => ""}) %>
			</ul>
			<% end %>

		</div>
	</div>
</div>